.grid {
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
      "header"
      "laptop"
      "laptopHighlight";
}

.header {
  margin: 0;
  padding: 20px;
  color: #ffffff;
  background-color: rgb(232, 143, 143);
  margin-bottom: 50px;
  text-align: left;
  text-indent: 10px;
  font-size: xx-large;
}

.flexbox {
  display: flex;
  flex-direction: row;
  grid-area: laptop;
  justify-content: space-between;
  padding: 0 10em 0 10em;
  align-items: center;
  
}

.flexbox2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 2em 1em 1em;
  width:  50%;
  border-radius: 2em;
}

.section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: #e6e6e6;
  padding: 0em 2em 1em 1em;
  width: 25%;
  border-radius: 3em;
}


/* Buttons */

.buttonGreen {
  background-color: #00ff5e;
  border-radius: 100px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  margin-bottom: 10px;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonGreen:hover {
  transform: scale(1.05);
}

.buttonRed {
  background-color: #ff0000;
  border-radius: 100px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonRed:hover {
  transform: scale(1.05);
}